@charset "UTF-8";
/* Général */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease 0s;
  /*effet de transition appliqué sur toutes les propriétés de toutes les balises*/
}

.icone {
  color: grey;
}

.fa-mobile-alt {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
}

.page-menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}

h2 {
  font-weight: 600;
  font-size: 22px;
}

.page-menu h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}

h3 {
  font-size: 18px;
}

.page-menu h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

.page-menu p {
  font-size: 14px;
}

.prix {
  font-weight: 600;
}

.container-prix {
  display: flex;
  align-items: flex-end;
}

hr {
  width: 40px;
  border: 2px solid #99E2D0;
  margin-top: 5px;
}

.button {
  margin: 35px auto 0;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 20px 18px;
  border-radius: 30px;
  width: 220px;
  text-align: center;
  box-shadow: 0 2px 5px silver;
}
.button span {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

header {
  background-color: #EAEAEA;
}
header .nav-container-logo {
  display: flex;
  justify-content: center;
  padding: 22px 0 12px;
  box-shadow: 0 2px 5px silver;
  background-color: white;
  position: relative;
}
header .nav-container-logo .fa-arrow-left {
  font-size: 20px;
  position: absolute;
  left: 23px;
  top: 25px;
}
header .nav-container-logo .logo {
  width: 165px;
}
header .bloc-localisation {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .bloc-localisation .container-ville {
  display: flex;
}
header .bloc-localisation .container-ville i {
  margin-right: 15px;
  font-size: 1.5rem;
}
header .bloc-localisation .container-ville input {
  border: 0;
  background-color: #EAEAEA;
}
header .bloc-localisation .container-ville ::placeholder {
  color: #000;
  font-size: 1 rem;
}

.bloc-presentation {
  text-align: center;
  padding: 40px 35px 50px;
  background-color: #F6F6F6;
}
.bloc-presentation div:nth-child(2) {
  margin-top: 20px;
}

.bloc-fonctionnement {
  padding: 50px 20px 65px;
}
.bloc-fonctionnement nav {
  margin-top: 30px;
  display: grid;
  gap: 20px;
}
.bloc-fonctionnement nav .fonctionnement-vignette {
  height: 72px;
  border-radius: 15px;
  box-shadow: 0 5px 15px -5px silver;
  margin-left: 13px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #F6F6F6;
}
.bloc-fonctionnement nav .fonctionnement-vignette div:nth-child(1) {
  display: flex;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -13px;
}
.bloc-fonctionnement nav .fonctionnement-vignette div:nth-child(1) span {
  color: white;
}
.bloc-fonctionnement nav .fonctionnement-vignette div:nth-child(2) {
  display: flex;
  flex-basis: 75px;
  justify-content: center;
}
.bloc-fonctionnement nav .fonctionnement-vignette:hover {
  background-color: #F6F6F6;
  background-color: #f2eafb;
}
.bloc-fonctionnement nav .fonctionnement-vignette:hover .icone {
  color: #9356DC;
}

.bloc-restaurants {
  padding: 55px 20px 65px;
  background-color: #F6F6F6;
}
.bloc-restaurants .restaurants-grid-cards {
  display: grid;
  gap: 18px;
  margin-top: 27px;
}
.bloc-restaurants .restaurants-grid-cards .restaurant-card {
  display: flex;
  flex-direction: column;
  height: 251px;
  border-radius: 10px;
  position: relative;
}
.bloc-restaurants .restaurants-grid-cards .restaurant-card .restaurant-card-container-img {
  height: calc(100% - 77px);
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bloc-restaurants .restaurants-grid-cards .restaurant-card .restaurant-card-container-img .restaurant-card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.bloc-restaurants .restaurants-grid-cards .restaurant-card .restaurant-card-container-info {
  height: 77px;
  background-color: white;
  display: flex;
  padding: 17px 14px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bloc-restaurants .restaurants-grid-cards .restaurant-card .restaurant-card-container-info .restaurant-card-info-container-text {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bloc-restaurants .restaurants-grid-cards .restaurant-card .restaurant-card-container-info .restaurant-card-info-container-like {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bloc-restaurants .restaurants-grid-cards .restaurant-card .restaurant-card-container-info .restaurant-card-info-container-like .fa-heart {
  font-size: 25px;
  font-weight: 100;
}
.bloc-restaurants .restaurants-grid-cards .restaurant-card .vignette-nouveau {
  width: 90px;
  height: 30px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 13px;
  border-radius: 3px;
  position: absolute;
  top: 13px;
  right: 12px;
}
.bloc-restaurants .restaurants-grid-cards .restaurant-card .vignette-nouveau p {
  font-weight: 600;
  color: #2c9c81;
}

footer {
  background-color: #353535;
  padding: 25px 25px 35px;
}
footer .footer-nav ul {
  list-style-type: none;
}
footer .footer-nav ul li {
  margin-top: 12px;
}
footer .footer-nav ul li a {
  color: white;
}
footer .footer-nav ul li a i {
  font-size: 12px;
  width: 22px;
}
footer .footer-nav ul li .logo {
  width: 100px;
  filter: invert(100%);
}
footer .footer-nav ul li:first-child {
  margin-bottom: 15px;
  margin-top: 5px;
}

main {
  display: flex;
  flex-direction: column;
}

.image-intro-container {
  height: 260px;
}
.image-intro-container .image-intro {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section-menu {
  margin-top: -50px;
}
.section-menu .container-menu {
  background-color: #F6F6F6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding: 30px 15px 45px;
}
.section-menu .container-menu .nom-restaurant {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  padding-left: 5px;
  align-items: center;
  margin-bottom: 40px;
}
.section-menu .container-menu .nom-restaurant .fa-heart {
  font-size: 25px;
  font-weight: 100;
}
.section-menu .container-menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 15px;
  margin-bottom: 40px;
}
.section-menu .container-menu ul li .container-nom-plat-et-contenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-menu .container-menu ul li .logo {
  filter: saturate(50%);
}
.section-menu .container-menu ul li:not(:first-child) {
  background-color: white;
  border-radius: 10px;
  height: 70px;
  padding: 15px 25px 15px 12px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 15px silver;
}

/*# sourceMappingURL=style.css.map */
