@charset "UTF-8";
/* Général */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.3s ease 0s;
  /*effet de transition appliqué sur toutes les propriétés de toutes les balises*/
}

.icone {
  color: grey;
}

.logo {
  filter: saturate(50%);
}

.fa-mobile-alt {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

@media (min-width: 1280px) {
  footer-nav {
    max-width: 1280px;
  }
}
h1 {
  font-size: 24px;
}

.page-menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}

h2 {
  font-weight: 600;
  font-size: 22px;
}

.page-menu h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}

h3 {
  font-size: 18px;
}

.page-menu h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

input {
  font-family: "Roboto", sans-serif;
}

.page-menu p {
  font-size: 14px;
}

.prix {
  font-weight: 600;
}

.container-prix {
  display: flex;
  align-items: flex-end;
}

hr {
  width: 40px;
  border: 2px solid #99E2D0;
  margin-top: 5px;
}

.button {
  margin: 35px auto 0;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 20px 18px;
  border-radius: 30px;
  width: 220px;
  text-align: center;
  box-shadow: 0 2px 5px silver;
}
.button span {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

header {
  background-color: #EAEAEA;
}
header .nav-container-logo {
  display: flex;
  justify-content: center;
  padding: 22px 0 12px;
  box-shadow: 0 2px 5px silver;
  background-color: white;
  position: relative;
}
header .nav-container-logo .fa-arrow-left {
  font-size: 20px;
  position: absolute;
  left: 23px;
  top: 25px;
}
header .nav-container-logo .logo {
  width: 165px;
}
header .bloc-localisation {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .bloc-localisation .form-localisation {
  width: 165px;
}
header .bloc-localisation .form-localisation .container-ville {
  display: flex;
}
header .bloc-localisation .form-localisation .container-ville i {
  margin-right: 15px;
  font-size: 1rem;
}
header .bloc-localisation .form-localisation .container-ville input {
  border: 0;
  background-color: #EAEAEA;
  font-weight: 500;
  font-size: 16px;
}
header .bloc-localisation .form-localisation .container-ville ::placeholder {
  color: #000;
  font-size: 1 rem;
}

.bloc-intro {
  background-color: #F6F6F6;
}
.bloc-intro .bloc-presentation {
  text-align: center;
  padding: 40px 25px 50px;
  margin: 0 auto;
}
@media (min-width: 375px) {
  .bloc-intro .bloc-presentation {
    width: 375px;
  }
}
@media (min-width: 768px) {
  .bloc-intro .bloc-presentation {
    padding: 40px 0 50px;
    width: auto;
  }
}
.bloc-intro .bloc-presentation div:nth-child(2) {
  margin-top: 20px;
}
.bloc-intro .bloc-presentation div:nth-child(2) p {
  font-weight: 200;
}

.bloc-fonctionnement {
  padding: 50px 20px 65px;
}
.bloc-fonctionnement nav {
  margin-top: 30px;
  display: grid;
  gap: 20px;
}
@media (min-width: 768px) {
  .bloc-fonctionnement nav {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .bloc-fonctionnement nav {
    grid-template-columns: repeat(3, 1fr);
  }
}
.bloc-fonctionnement nav .fonctionnement-vignette {
  height: 72px;
  border-radius: 15px;
  box-shadow: 0 5px 15px -5px silver;
  margin-left: 13px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #F6F6F6;
}
.bloc-fonctionnement nav .fonctionnement-vignette div:nth-child(1) {
  display: flex;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -13px;
}
.bloc-fonctionnement nav .fonctionnement-vignette div:nth-child(1) span {
  color: white;
}
.bloc-fonctionnement nav .fonctionnement-vignette div:nth-child(2) {
  flex-basis: 75px;
  padding-left: 33px;
}
.bloc-fonctionnement nav .fonctionnement-vignette p {
  font-weight: 500;
}
.bloc-fonctionnement nav .fonctionnement-vignette:hover {
  background-color: #F6F6F6;
  background-color: #f2eafb;
}
.bloc-fonctionnement nav .fonctionnement-vignette:hover .icone {
  color: #9356DC;
}

.bloc-restaurants {
  padding: 55px 20px 65px;
  background-color: #F6F6F6;
}
.bloc-restaurants .restaurants-grid-cards {
  display: grid;
  gap: 18px;
  margin-top: 27px;
}
@media (min-width: 768px) {
  .bloc-restaurants .restaurants-grid-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .bloc-restaurants .restaurants-grid-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
.bloc-restaurants .restaurants-grid-cards a .restaurant-card {
  display: flex;
  flex-direction: column;
  height: 251px;
  border-radius: 10px;
  position: relative;
}
.bloc-restaurants .restaurants-grid-cards a .restaurant-card .restaurant-card-container-img {
  height: calc(100% - 77px);
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bloc-restaurants .restaurants-grid-cards a .restaurant-card .restaurant-card-container-img .restaurant-card-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.bloc-restaurants .restaurants-grid-cards a .restaurant-card .restaurant-card-container-info {
  height: 77px;
  background-color: white;
  padding: 17px 14px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
}
.bloc-restaurants .restaurants-grid-cards a .restaurant-card .restaurant-card-container-info .restaurant-card-info-container-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.bloc-restaurants .restaurants-grid-cards a .restaurant-card .restaurant-card-container-info .restaurant-card-info-container-text p {
  font-weight: 300;
}
.bloc-restaurants .restaurants-grid-cards a .restaurant-card .restaurant-card-container-info .restaurant-card-info-container-like {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 11px;
  margin-left: auto;
}
.bloc-restaurants .restaurants-grid-cards a .restaurant-card .restaurant-card-container-info .restaurant-card-info-container-like .fa-heart {
  font-size: 25px;
  font-weight: 100;
}
.bloc-restaurants .restaurants-grid-cards a .restaurant-card .vignette-nouveau {
  width: 90px;
  height: 30px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 13px;
  border-radius: 3px;
  position: absolute;
  top: 13px;
  right: 12px;
}
.bloc-restaurants .restaurants-grid-cards a .restaurant-card .vignette-nouveau p {
  font-weight: 600;
  color: #2c9c81;
}
.bloc-restaurants .restaurants-grid-cards a:hover .restaurant-card {
  transform: scale(1.05);
}
.bloc-restaurants .restaurants-grid-cards a:hover .restaurant-card-container-info {
  background-color: #f2eafb;
}

footer {
  background-color: #353535;
  padding: 25px 25px 35px;
}
footer .footer-nav .nav-container-logo {
  margin-bottom: 15px;
  margin-top: 5px;
}
footer .footer-nav .nav-container-logo .logo {
  width: 100px;
  filter: invert(100%);
}
footer .footer-nav ul {
  display: grid;
  column-gap: 20px;
  list-style-type: none;
}
@media (min-width: 768px) {
  footer .footer-nav ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  footer .footer-nav ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
footer .footer-nav ul li {
  margin-top: 12px;
}
footer .footer-nav ul li a {
  color: white;
}
footer .footer-nav ul li a i {
  font-size: 12px;
  width: 22px;
}
footer .footer-nav ul li a:hover {
  color: #f2eafb;
}
footer .footer-nav ul li:hover {
  transform: scale(1.05);
}

main {
  display: flex;
  flex-direction: column;
}

.image-intro-container {
  height: 260px;
}
.image-intro-container .image-intro {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section-menu {
  margin-top: -50px;
}
.section-menu .container-menu {
  background-color: #F6F6F6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding: 30px 15px 45px;
}
.section-menu .container-menu .nom-restaurant {
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
  padding-left: 5px;
  align-items: center;
  margin-bottom: 40px;
}
.section-menu .container-menu .nom-restaurant .heart-container {
  position: relative;
  cursor: pointer;
}
.section-menu .container-menu .nom-restaurant .heart-container div {
  position: absolute;
}
.section-menu .container-menu .nom-restaurant .heart-container div .empty-heart {
  font-size: 25px;
  font-weight: 100;
  opacity: 1;
}
.section-menu .container-menu .nom-restaurant .heart-container div {
  position: absolute;
}
.section-menu .container-menu .nom-restaurant .heart-container div .full-heart {
  font-size: 25px;
  font-weight: 100;
  color: #9356DC;
  z-index: 2;
  opacity: 0;
}
.section-menu .container-menu .nom-restaurant .heart-container:hover div .full-heart {
  opacity: 1;
  transition: 400ms ease-in-out;
}
.section-menu .container-menu .container-menu-grid {
  display: grid;
  gap: 20px;
  align-items: center;
}
@media (min-width: 768px) {
  .section-menu .container-menu .container-menu-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.section-menu .container-menu .container-menu-grid ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 15px;
  margin-bottom: 40px;
}
.section-menu .container-menu .container-menu-grid ul li:not(:first-child) {
  background-color: white;
  border-radius: 10px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 15px silver;
  cursor: pointer;
  transition: 0.5s;
  animation: slideDown 2s;
}
.section-menu .container-menu .container-menu-grid ul li:not(:first-child) .container-plat-et-prix {
  padding: 15px 25px 15px 12px;
  display: flex;
  flex: 1;
}
.section-menu .container-menu .container-menu-grid ul li:not(:first-child) .container-plat-et-prix .container-nom-plat-et-contenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-menu .container-menu .container-menu-grid ul li:not(:first-child) .container-plat-et-prix .container-prix {
  margin-left: auto;
}
.section-menu .container-menu .container-menu-grid ul li:not(:first-child) .container-check {
  background-color: #99E2D0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  width: 0;
  align-items: center;
  overflow: hidden;
  transition-property: width;
  transition-duration: 0.5s;
}
.section-menu .container-menu .container-menu-grid ul li:not(:first-child) .container-check .fa-check-circle {
  margin-left: 20px;
  color: white;
  font-size: 20px;
  transition-property: transform;
  transition-duration: 0.5s;
}
@keyframes slideDown {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.section-menu .container-menu .container-menu-grid ul li:not(:first-child):hover .container-check, .section-menu .container-menu .container-menu-grid ul li:not(:first-child):active .container-check {
  width: 60px;
}
.section-menu .container-menu .container-menu-grid ul li:not(:first-child):hover .container-check .fa-check-circle, .section-menu .container-menu .container-menu-grid ul li:not(:first-child):active .container-check .fa-check-circle {
  transform: rotate(1turn);
}
@media (min-width: 768px) {
  .section-menu .container-menu .container-menu-grid .button {
    margin: 0 auto 0;
  }
}

.page-spinner {
  position: fixed;
  background: #99E2D0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  align-items: center;
  animation: opacitySpinner 3s;
  animation-iteration-count: 0;
}
@keyframes opacitySpinner {
  0% {
    opacity: 1;
  }
  67% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.spinner {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
}
.spinner .logo {
  width: 200px;
  filter: invert(100%);
}
.spinner p {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
}
.spinner .sk-circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.spinner .sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.spinner .sk-circle .sk-child:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: white;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.spinner .sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.spinner .sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.spinner .sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.spinner .sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.spinner .sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.spinner .sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.spinner .sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.spinner .sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.spinner .sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.spinner .sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.spinner .sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.spinner .sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner .sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.spinner .sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.spinner .sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.spinner .sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.spinner .sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.spinner .sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.spinner .sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.spinner .sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
