/* Général */

*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline: none;
    transition: all 0.3s ease 0s; /*effet de transition appliqué sur toutes les propriétés de toutes les balises*/
}

$violet: #9356DC;
$rose: #FF79DA;
$vert: #99E2D0;

.icone {
    color: grey;
}

.fa-mobile-alt {
    font-size: 20px;
}  

a {
    text-decoration: none;
    color:#000;
}


body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

h1 { 
    font-size: 24px;
}

.page-menu h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
}

h2 { 
    font-weight: 600;
    font-size: 22px;

}

.page-menu h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}

h3 {

    font-size: 18px;
}

.page-menu h3 {
    font-size: 16px;
}

p {
    font-size: 16px;
}

.page-menu p {
    font-size: 14px;
}

.prix {
    font-weight: 600;
}

.container-prix{
    display:flex;
    align-items: flex-end;
}

hr {
    width: 40px;
    border: 2px solid $vert;
    margin-top: 5px;
}


.button {
    margin: 35px auto 0;
    background: linear-gradient($rose, $violet);
    padding: 20px 18px;
    border-radius: 30px;
    width: 220px;
    text-align: center;
    box-shadow: 0 2px 5px silver;   

    span {
        
        color: white;
        font-size: 16px;
        font-weight: 500;
         
    }
}

header {
    background-color: #EAEAEA;

    .nav-container-logo {
        display: flex;
        justify-content: center;
        padding: 22px 0 12px;
        box-shadow: 0 2px 5px silver;
        background-color: white;
        position: relative;

        .fa-arrow-left {
            font-size: 20px;
            position: absolute;
            left: 23px;
            top: 25px;
        }

        .logo {
            width: 165px;
            
            
        }
    }

    .bloc-localisation {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    
        .container-ville {
            display: flex;
            
            i {
                margin-right: 15px;
                font-size: 1.5rem;
            }
    
            input {
                border: 0;
                background-color: #EAEAEA;
                
            }
    
            ::placeholder {
                color: #000;
                font-size: 1 rem;
              }
        }
    }
}




.bloc-presentation {
    text-align: center;
    padding: 40px 35px 50px;
    background-color: #F6F6F6;

    div:nth-child(2){
        margin-top: 20px;
    }     
    
}

.bloc-fonctionnement {
    padding: 50px 20px 65px;

    nav {
        margin-top: 30px;
        display: grid;
        gap: 20px;

        .fonctionnement-vignette {
            
            height: 72px;
            border-radius: 15px;
            box-shadow: 0 5px 15px -5px silver;
            margin-left: 13px;
            display: flex;
            align-items: center;
            position: relative;
            background-color: #F6F6F6;
        
            div:nth-child(1) {
                display: flex;
                height: 25px;
                width: 25px;
                border-radius: 50px;
                background-color: $violet;
                justify-content: center;
                align-items: center;
                position: absolute;
                left: -13px;
                
                span{
                    color: white;
                    
                    
                }
        
            }
        
            div:nth-child(2) {
                display: flex;
                flex-basis: 75px;
                justify-content: center;
            }
        
        }

        .fonctionnement-vignette:hover {                                                                       background-color: #F6F6F6;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
        
            background-color: lighten($violet, 35%);

            .icone {
                color: $violet;
            }
        
        }

    }
}


.bloc-restaurants {
    padding: 55px 20px 65px;
    background-color: #F6F6F6;

    .restaurants-grid-cards {
        display: grid;
        gap: 18px;
        margin-top: 27px;

        .restaurant-card {
            display: flex;
            flex-direction: column;
            height: 251px;
            border-radius: 10px;
            position: relative;

            .restaurant-card-container-img {
                height: calc(100% - 77px);
                width: 100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;

                .restaurant-card-img {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .restaurant-card-container-info {
                height: 77px;
                background-color: white;
                display: flex;
                padding: 17px 14px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                .restaurant-card-info-container-text {
                    flex: 6;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .restaurant-card-info-container-like {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .fa-heart {
                        font-size: 25px;
                        font-weight: 100;
                    }
                }
            }

            .vignette-nouveau {
                width: 90px;
                height: 30px;
                background-color: $vert;
                display: flex;
                align-items: center;
                text-align: center;
                padding: 10px 13px;
                border-radius: 3px;
                position: absolute;
                top: 13px;
                right: 12px;

                p {
                    font-weight: 600;
                    color: darken($vert, 35%);
                }
            }
        }
    }


    
}


footer {
    background-color: #353535;
    padding: 25px 25px 35px;

    .footer-nav {

        ul{

            list-style-type: none;
            
            li {

                margin-top: 12px;

                a {
                    color: white;
        
                    i {
                        font-size: 12px;
                        width: 22px;
                    }
                    
                }
        
                .logo {
                    width: 100px;
                    filter: invert(100%); 
                }

            }

            li:first-child {
                margin-bottom: 15px;
                margin-top: 5px;
            }
            
        }

        
    }
}

main {
    display: flex;
    flex-direction: column;
}


.image-intro-container {
    height: 260px;
    
    

    .image-intro {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.section-menu {
    
    margin-top: -50px;
    
    

    .container-menu {
        background-color: #F6F6F6;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        padding: 30px 15px 45px;

        .nom-restaurant{
            display: flex;
            justify-content: space-between;
            padding-right: 25px;
            padding-left: 5px;
            align-items: center;
            margin-bottom: 40px;

            .fa-heart {
                font-size: 25px;
                font-weight: 100;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            gap: 15px;
            margin-bottom: 40px;

            li {
                .container-nom-plat-et-contenu {
                    display:flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .logo {
                    filter: saturate(50%);
                }
            }

            li:not(:first-child) {
                background-color: white;
                border-radius: 10px;
                height: 70px;
                padding: 15px 25px 15px 12px;
                display: flex;
                justify-content: space-between;
                box-shadow: 2px 2px 15px silver;
                
            }

        }
    }
}



